@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 align-self-center">
        <h1 class="mt-5">Welcome to Taco Cat</h1>
        <div class="jumbotron">
            <div class="row">
                <div id="taco-text" class="col">
                    <h1 class="display-4">Taco Cat</h1>
                    <p class="lead">Tacocats are palindromes baby</p>
                </div>
            </div>
            <hr class="my-4">
            <p class="card-text">
                What's a palindrome? It means that it is spelled the same way forwards and backwards. The Taco Cat coding challenge is based on the more traditional “Reverse a string” exercise but ultimately determines if a word or phrase is a palindrome. The Reverse a string exercise in some form has been used by technology companies such as Amazon and Microsoft to assess a candidate’s ability to code an impromptu algorithm.
            </p>
        </div>
    </div>
</div>
