@{
    ViewData["Title"] = "Solution";
}


<h1>Solution</h1>

<div class="row">
    <form asp-action="Solution">
        <input name="input" type="text" placeholder="Enter a word or phrase..." />
        <button type="submit">Submit</button>
    </form>
</div>